@value colors:  './../../../../../var.css';
@value pagination-circle-active-bg, pagination-circle-active-border, pagination-circle-bg, pagination-circle-border, pagination-arrow-bg from colors;

.pagination {
	margin-top: 10.5rem;
}
.list {
	display: flex;
	align-items: center;
}
.item {
	    padding: 1.35rem;
}
.link {
	display: block;	
	line-height: 1.1;
	font-size: 0;
}
.linkPrev, .linkNext {
	width: 2rem;
	height: 2rem;
	border-top: .2rem solid pagination-arrow-bg;
	border-left: .2rem solid pagination-arrow-bg;
}
.linkPrev {
	transform: rotate(-45deg);
}
.linkNext {
	transform: rotate(135deg);
}
.linkCircle {	
	width: 2rem;
	height: 2rem;
	border-radius: 50%;
	background-color: pagination-circle-bg;
	border: 2px solid pagination-circle-border;
}
.linkCircleActive {	
	background-color: pagination-circle-active-bg;
	border: 2px solid pagination-circle-active-border;
}