@value colors:  './../../var.css';
@value bg-white from colors;

@value z-index:  './../../var.css';
@value advantages-bottle-z-index,	 advantages-bubble1-z-index,	 advantages-bubble2-z-index,	 advantages-bubble3-z-index,	 advantages-bubble4-z-index,	 advantages-bubble5-z-index,	 advantages-bubble6-z-index,	 advantages-bubble7-z-index,	 advantages-bubble8-z-index from z-index;

@value size:  './../../var.css';
@value xs, xxs, xxxs from size;

.advantages {
	padding: 6rem 16rem 0 70.6rem;
	position: relative;
}
.title {

}
.bigTitle {
	font-family: 'Gilroy', sans-serif;
	font-weight: 400;
	font-size: 19rem;
	margin-left: -1rem;
	letter-spacing: 2.3rem;
}
.gridContent {
	margin: 13rem 0 0 -20rem;
	display: grid;
	grid-template-areas: "long short" 
											 "long btn";
	grid-gap: 7rem;
	width: fit-content;
}
@media (max-width: xxs) {
	.gridContent {
		grid-template-areas: "long"
												 "short" 
											   "btn";
		grid-gap: 10rem;
	}
}
.longAdvantage, .shortAdvantage {
	composes: block from './../../index.css';
	font-size: 5rem;
}
@media (max-width: xxs) {
	.longAdvantage, .shortAdvantage {
		font-size: 9rem;
	}
}
.longAdvantage p, .shortAdvantage p {
	overflow: hidden;
	height: 100%;
}
.longAdvantage::before, .shortAdvantage::before {
	position: absolute;
	top: 0;
	transform: translateY(-50%);
}
.longAdvantage {
	grid-area: long;
	position: relative;
	padding: 9.5rem 9.5rem 7rem 21rem;
}
@media (max-width: xxs) {
	.longAdvantage {
		height: 64rem;
	}
}
.longAdvantage::before {
	content: '';
	background: url('./icon_1.png') center no-repeat;
	background-size: cover;
	width: 13.5rem;
	height: 12.6rem;
	left:  20rem;
}
@media (max-width: xxs) {
	.longAdvantage::before {
		width: 20rem;
    height: 18rem;
	}
}
.shortAdvantage {
	grid-area: short;
	position: relative;
	padding: 9.5rem 9.5rem 7rem;
}
@media (max-width: xxs) {
	.shortAdvantage {
		padding: 9.5rem 9.5rem 7rem 21rem;
	}
}
.shortAdvantage::before {
	content: '';
	background: url('./icon_2.png') center no-repeat;
	background-size: cover;
	width: 14rem;
	height: 11.5rem;
	left:  8.5rem;
}
@media (max-width: xxs) {
	.shortAdvantage::before {
		left:  20rem;
		width: 21rem;
    height: 16rem;
	}
}
.btn {
	composes: btn from './../../index.css';
	grid-area: btn;
	width: fit-content;
	height: fit-content;
}
.btn::after {
	background: url('./plus.png') center no-repeat;
	background-size: cover;
	width: 2.6rem;
	height: 2.6rem;
}
@media (max-width: xxs) {
	.btn {
		margin: 0 auto;
	}
}
@media (max-width: xxs) {
	.btn::after {
		width: 8.6rem;
		height: 8.6rem;
	}
}
.bottle {
	width: 46.6rem;
	height: 137.7rem;
	background: url('./bottle.png') center no-repeat;
	background-size: cover;
	position: absolute;
	bottom: 0;
	left: 11rem;
	z-index: advantages-bottle-z-index;
}
.bubble1 {
	width: 7.4rem;
	height: 7.6rem;
	background: url('./bubble_1.png') center no-repeat;
	background-size: cover;
	position: absolute;
	top: 13rem;
	left: 40rem;
	z-index: advantages-bubble1-z-index;
	animation: bubble1 15s infinite linear;
}
.bubble2 {
	width: 13.6rem;
	height: 13.8rem;
	background: url('./bubble_2.png') center no-repeat;
	background-size: cover;
	position: absolute;
	top: 31rem;
	left: 38rem;
	z-index: advantages-bubble2-z-index;
	animation: bubble2 5s infinite linear;
}
.bubble3 {
	width: 6.8rem;
	height: 6.8rem;
	background: url('./bubble_3.png') center no-repeat;
	background-size: cover;
	position: absolute;
	top: 42rem;
	left: 16rem;
	z-index: advantages-bubble3-z-index;
	animation: bubble3 5s infinite linear;
}
.bubble4 {
	width: 22.5rem;
	height: 22.4rem;
	background: url('./bubble_4.png') center no-repeat;
	background-size: cover;
	position: absolute;
	top: 63rem;
	left: 38rem;
	z-index: advantages-bubble4-z-index;
	animation: bubble4 10s infinite linear;
}
.bubble5 {
	width: 6.6rem;
	height: 6.6rem;
	background: url('./bubble_5.png') center no-repeat;
	background-size: cover;
	position: absolute;
	top: 91rem;
	left: 3rem;
	z-index: advantages-bubble5-z-index;
	animation: bubble5 10s infinite linear;
}
.bubble6 {
	width: 14.9rem;
	height: 14.9rem;
	background: url('./bubble_6.png') center no-repeat;
	background-size: cover;
	position: absolute;
	top: 111rem;
	left: 6rem;
	z-index: advantages-bubble6-z-index;
	animation: bubble6 10s infinite linear;
}
.bubble7 {
	width: 12.3rem;
	height: 12.3rem;
	background: url('./bubble_7.png') center no-repeat;
	background-size: cover;
	position: absolute;
	top: 118rem;
	left: 49rem;
	z-index: advantages-bubble7-z-index;
	animation: bubble7 10s infinite linear;
}
.bubble8 {
	width: 28.3rem;
	height: 13rem;
	background: url('./bubble_8.png') center no-repeat;
	background-size: cover;
	position: absolute;
	bottom: 0;
	left: 38rem;
	z-index: advantages-bubble8-z-index;
	animation: bubble8 5s infinite linear;
}



@keyframes bubble1 {
	from {transform: translate(0,0);}
	15%  {transform: translate(-4rem,4rem);}
	30%  {transform: translate(6rem,10rem);}
	50%  {transform: translate(0,0);}
	70%  {transform: translate(6rem,10rem);}
	85%  {transform: translate(-4rem,4rem);}
	to   {transform: translate(0,0);}
}
@keyframes bubble2 {
	from {transform: translate(0,0);}
	50%  {transform: translate(-2rem,-2rem);}
	to   {transform: translate(0,0);}
}
@keyframes bubble3 {
	from {transform: translate(0,0);}
	50%  {transform: translate(6rem,6rem);}
	to   {transform: translate(0,0);}
}
@keyframes bubble4 {
	from {transform: translate(0,0)					scale(1.0);}
	25%  {transform: translate(4rem,4rem)		scale(1.0);}
	50%  {transform: translate(0,0)					scale(1.2);}
	75%  {transform: translate(-8rem,8rem)	scale(1.0);}
	to   {transform: translate(0,0)					scale(1.0);}	
}
@keyframes bubble5 {
	from {transform: translate(0,0)					scale(1.0);}
	25%  {transform: translate(6rem,4rem)		scale(0.9);}
	50%  {transform: translate(0,6rem)			scale(1.0);}
	75%  {transform: translate(6rem,4rem)		scale(0.9);}
	to   {transform: translate(0,0)					scale(1.0);}	
}
@keyframes bubble6 {
	from {transform: translate(0,0)					scale(1.0);}
	25%  {transform: translate(6rem,0)			scale(0.9);}
	50%  {transform: translate(0,-6rem)			scale(1.0);}
	75%  {transform: translate(6rem,0)			scale(0.9);}
	to   {transform: translate(0,0)					scale(1.0);}	
}
@keyframes bubble7 {
	from {transform: translate(0,0);}
	25%  {transform: translate(4rem,4rem);}
	50%  {transform: translate(8rem,0);}
	75%  {transform: translate(4rem,4rem);}
	to   {transform: translate(0,0);}
}
@keyframes bubble8 {
	from {transform: translate(0,0)					scale(1.0);}
	50%  {transform: translate(2rem,2rem)		scale(0.8);}
	to   {transform: translate(0,0)					scale(1.0);}
}