.description {
	padding: 28rem 26rem 17rem 14rem;
	position: relative;
}
.title {
	margin-bottom: 9rem;
}
.sperm1 {
	width: 204.8rem;
	height: 98.8rem;
	background: url('./sperm_1.png') center no-repeat;
	background-size: cover;
	position: absolute;
	top: 20rem;
	left: 74rem;
}
[data-animation] .sperm1 {
	animation: sperm_group1 2s 1 linear;
}
.sperm2 {
	width: 146.1rem;
	height: 68.5rem;
	background: url('./sperm_2.png') center no-repeat;
	background-size: cover;
	position: absolute;
	top: 20rem;
	left: 118rem;
}
[data-animation] .sperm2 {
	animation: sperm_group1 2s 1 linear;
}
.sperm3 {
	width: 82.8rem;
	height: 39.1rem;
	background: url('./sperm_3.png') center no-repeat;
	background-size: cover;
	position: absolute;
	top: 15rem;
    left: 143rem;
}
[data-animation] .sperm3 {
	animation: sperm_group2 2s 1 linear;
}
.sperm4 {
	width: 65.1rem;
	height: 31.5rem;
	background: url('./sperm_4.png') center no-repeat;
	background-size: cover;
	position: absolute;
	top: 103rem;
    left: 178rem;
}
[data-animation] .sperm4 {
	animation: sperm_group3 2s 1 linear;
}
.sperm5 {
	width: 145.9rem;
	height: 68.3rem;
	background: url('./sperm_5.png') center no-repeat;
	background-size: cover;
	position: absolute;
	top: 83rem;
    left: 178rem;
}
[data-animation] .sperm5 {
	animation: sperm_group2 2s 1 linear;
}


@keyframes sperm_group1{
	from {opacity: 0; 	transform: translate(16rem,8rem);}
	33%  {opacity: .33; transform: translate(10rem,5rem);}
	66%  {opacity: .66; transform: translate(4rem,2rem);}
	to 	 {opacity: 1; 	transform: translate(0,0);}
}
@keyframes sperm_group2{
	from {opacity: 0; 	transform: translate(16rem,8rem);}
	33%  {opacity: 0; 	transform: translate(10rem,5rem);}
	66%  {opacity: .5; 	transform: translate(4rem,2rem);}
	to 	 {opacity: 1; 	transform: translate(0,0);}
}
@keyframes sperm_group3{
	from {opacity: 0; transform: translate(16rem,8rem);}
	33%  {opacity: 0; transform: translate(10rem,5rem);}
	66%  {opacity: 0; transform: translate(4rem,2rem);}
	to 	 {opacity: 1; transform: translate(0,0);}
}