@import './../../fonts/Circe/style.css';

@value colors: './../../var.css';
@value text-dark, border-dark from colors;
@value z-index: './../../var.css';
@value header-z-index from z-index;

.header {
	position: fixed;
	left: 14rem;
	top: 5rem;
	display: flex;
	align-items: center;
	z-index: header-z-index;
}
.nav {
	font-size: 0;
	display: flex;
	align-items: center;
}
.nav::before {
	content: '';
	display: block;
	width: 4.5rem;
	height: 3.9rem;
	background: url('./home.png') center no-repeat;
}
.nav::after {
	content: '';
	display: block;
	margin-left: 5rem;
	margin-right: 5rem;
	width: .2rem;
	height: 5.2rem;
	background-color: border-dark;
}
.title {
	font-family: 'Circe', sans-serif;
	font-weight: 400;
	font-size: 3.4rem;
	letter-spacing: .4rem;
	text-transform: uppercase;
	color: text-dark;
}