@value colors: './../../../../var.css';
@value text-blue from colors;

@value size: './../../../../var.css';
@value xxs from size;

.directoryAdvantages {
	font-size: 5rem;
	margin: 4rem 0 0 0;
}
@media (max-width: xxs) {
	.directoryAdvantages {
		font-size: 7rem;
	}
}
.list {
	height: 52rem;
	overflow: hidden;
}
@media (max-width: xxs) {
	.list {
		height: 90rem;
	}
}
.item {

}
.item::before {
  content: attr(counter);
  font-family: 'Gilroy', sans-serif;
  font-weight: 800;
  color: text-blue;
  display: block;
}
.item + .item {
	margin-top: 4rem;
}