.app {    
  overflow-x: scroll;
  overflow-y: hidden;
  scroll-behavior: smooth;
  touch-action: none;
}
.content {
  width: fit-content;
  height: 100vh;
  display: flex;
  background: url('./bg.jpg') center no-repeat;
  position: relative;
}
