@import './fonts/DINPro/style.css';

@value colors:  './var.css';
@value text-dark, btn-bg, btn-text, bg-black, bg-white from colors;

html {
  font-size: 10px;
}
* {
  margin: 0;
  box-sizing: border-box;
}
*::-webkit-scrollbar {
  display: none;
}

body {
  margin: 0;
  font-family: 'DIN Pro', sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
section {
  width: 100vw;
  height: 100vh;
  flex-shrink: 0;
}
h2 {
  font-size: 5.4rem;
  font-weight: 400;
  text-transform: uppercase;
  color: text-dark;
  letter-spacing: .4rem;
}

a {
  text-decoration: none;
}
button {
  font: inherit;
  border:  none;
}
ul {
  list-style: none;
}

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  margin: -1px;
  padding: 0;
  width: 1px;
  height: 1px;
  border: 0;
  white-space: nowrap;
  clip-path: inset(100%);
}

.btn {
  display: flex;
  align-items: center;
  background-color: btn-bg;
  border-radius: 1.5em;
  color: btn-text;
  font-size: 5.4rem;
  line-height: 1.1;
  padding: .55em .7em;
  text-transform: none;
}
.btn::before {
  width: 1.85em;
  height: 1.85em;
  background: bg-black;
  border-radius: 50%;
  text-align: center;
  line-height: 1.6em;
  box-shadow: -.04em -.04em .1em .06em rgba(0,0,0,.38), .04em .04em .1em .06em rgba(255,255,255,.5);
  letter-spacing: normal;
}
.btn__text {
  margin: 0 .6em;
  letter-spacing: .2rem;
}

.block {
  border-radius: 8rem;
  background-color: bg-white;
  box-shadow: 1rem 1rem 10rem 1rem rgba(157,185,198,.4);
}