@value bg-black: #171717;
@value bg-white: #ffffff;

@value text-black: #171717;
@value text-dark: #272727;
@value text-blue: #8cc9e8;

@value border-dark: #272727;

@value btn-bg: #ff6a9f;
@value btn-text: #171717;

@value scrollbar-track-bg: #000000;
@value scrollbar-thumb-bg: #ff6a9f;

@value pagination-circle-active-bg: #ff6a9f;
@value pagination-circle-active-border: #ff6a9f;
@value pagination-circle-bg: #ffffff;
@value pagination-circle-border: #000000;
@value pagination-arrow-bg: #000000;

@value popup-overlay-bg: rgba(22, 39, 62, .7);

@value header-z-index: 10;
@value footer-z-index: 10;
@value cover-title-z-index: 1;
@value cover-sperm-z-index: 2;
@value cover-ovule2-z-index: 3;
@value description-sperm1-z-index: 1;
@value advantages-bottle-z-index: 2;
@value advantages-bubble1-z-index: 1;
@value advantages-bubble2-z-index: 3;
@value advantages-bubble3-z-index: 1;
@value advantages-bubble4-z-index: 1;
@value advantages-bubble5-z-index: 3;
@value advantages-bubble6-z-index: 3;
@value advantages-bubble7-z-index: 1;
@value advantages-bubble8-z-index: 3;